<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>DANH SÁCH SINH VIÊN</h1>
    <table border="2">
        <thead class="column">
        <tr>
            <th>ID</th>
            <th>Họ và tên</th>
            <th>Tài khoản</th>
            <th>Mật khẩu</th>
            <th>Created</th>
            <th>Updated</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="record" th:each=" item:${list}">
            <td th:text="*{item.getId()}"></td>
            <td th:text="*{item.getFullName()}"></td>
            <td th:text="*{item.getUserName()}"></td>
            <td th:text="*{item.getPassWord()}"></td>
            <td th:text="*{item.getCreatedAt()}"></td>
            <td th:text="*{item.getUpdatedAt()}"></td>
            <td>
                <form th:action="@{/user_put/{id}(id=${item.getId()})}" method="get">
                    <input type="submit" value="UPDATE">
                </form>
            </td>
            <td>
                <form th:action="@{/user_delete/{id}(id=${item.getId()})}" method="post">
                    <input type="submit" value="DELETE">
                </form>
            </td>
        </tr>
        <div class="text-center">
            <a href="/user" class="py-2 px-3 text-sm font-semibold text-indigo-600">
                View all user
            </a>
        </div>
        </tbody>

    </table>
    <script>

    </script>
</body>
</html>